<% provide(:title, 'Creating Kanban Boards on a Canvas') %>
<div id="main" class="row">
	<div class="span12">
		Das ist der Basisrahmen für Applikationen, die aufbauen auf Twitter Bootstrap, Font Awesome, JQuery, JQuery UI, KineticJS und Modernizr.
	</div>
</div>
